* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.container {
    margin: 15px auto;
    max-width: 640px;
    width: 100%;
}

h1 {
    font-size: 70px;
    color: rgb(48, 48, 48);
}

form {
    margin-top: 20px;
}

input, button {
    display: block;
    padding: 10px;
    margin-bottom: 15px;
    width: 75%;
    resize: none;
}

button {
    background-color: rgb(21, 34, 1);
    border-color: azure;
    text-transform: uppercase;
    color: white;  
    font-size: 11px;
    cursor: pointer;

}

body {
    background-color: rgb(244, 244, 244);
}


.sucesso {
    background-color: aqua;
    color: rgb(0, 0, 0);
    margin-left: 22%;
    padding: 11px;
    width: 200px;
    font-size: 17px;
    display: none;
    
}

.error {
    background-color: rgb(244, 8, 8);
    color: rgb(0, 0, 0);
    margin-left: 10%;
    padding: 11px;
    width: 350px;
    font-size: 17px;
    display: none;
    
}